// reset
* {
  margin: 0;
}

body {
  font-family: Roboto, "STHeiti", "Microsoft YaHei UI Light", sans-serif;
}

// to clear the float through the way container wrap the float elements
.clear {
  overflow: hidden;
  width: 100%;
}

.content {
  color: $ca-color-white;
  margin: auto;
  text-align: center;
}

.common-container {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: $ca-padding-24;
  display: flex;
}