// colors
$ca-color-red: #e53935;
$ca-color-indigo: #3949ab;
$ca-color-dark: #424242;
$ca-color-black: #000000;
$ca-color-white: #ffffff;
$ca-color-grey: #757575;

// padding
$ca-padding-24: 24px;
$ca-padding-16: 16px;

// margin
$ca-margin-8: 8px;

// font-weight
$ca-font-weight: 300%;

// default item height
$ca-default-height: 64px